.content-section {
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 91px 6px 97px;
}

.header__links-list {
  display: flex;
  gap: 33.5px;
  margin-bottom: 4px;
  justify-content: center;
  text-underline-position: under; /* подчеркивание не перекрывает буквы */
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  white-space: nowrap;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: grid;
  justify-self: center;
  width: 135px;
}

.header__logo-black {
  width: 100%;
}

.address {
  font-style: inherit;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address__item,
.address__address-text {
  display: block;
}

/* Уникальные стили только для адреса в хедере */
.header__address {
  margin-bottom: 1.3px;
  margin-left: auto;
  margin-right: 81px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 180px;
}

.cover {
  position: relative;
  width: 100%;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0; /* позиционирование со всех сторон */
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 17px;
  margin: 0;
  color: white;
  letter-spacing: 1.25em;
  text-transform: uppercase;
  line-height: 114.9px;
}

.aligned-text {
  font-size: 100px;
}

.aligned-text_center {
  text-align: center;
  margin-left: 30px;
  margin-bottom: 2px;
}

.aligned-text_right {
  text-align: right;
  margin-bottom: 3px;
  margin-right: -30px;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  padding: 50px 0 0;
  color: white;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 55px;
}

.cover_text {
  word-spacing: 18.2px;
  text-align: center;
  padding-right: 30px;
  text-transform: uppercase;
}
.bet-button {
  border: 1px solid;
  padding: 12px 32px;
  color: white;
  background: none;
  text-transform: uppercase;
}

.lots {
  max-width: 1100px;
  margin: auto;
  font-style: normal;
}

.lots__heading {
  margin-left: 40px;
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
  list-style-type: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 334px;
  min-height: 596px;
  padding: 50px 40px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
  color: white;
}

.card__title {
  margin-bottom: 20px;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.card__text {
  font-size: 20px;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  margin-left: 40px;
  text-underline-position: under;
}

.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 72px;
  padding: 0 50px;
  margin: 75px 0px 0px 21px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about__column {
  flex: 1;
  min-width: 300px;
}

.about__title-text {
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 100px 0;
}

.about__text {
  color: #000;
  font-size: 20px;
  display: grid;
  row-gap: 24px;
}

.footer {
  margin: 181px 0px 100px 0px;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  text-underline-position: under;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-link {
  display: grid;
  align-self: center;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-link_active {
  text-decoration: none;
  border-bottom: none;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
}
